<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<!--/************************************************************************
				GPUTejas Simulator
*****************************************************************************

   Copyright 2014 Indian Institute of Technology, Delhi
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.

******************************************************************************
	Contributors:  Seep Goel, Geetika Malhotra, Harinder Pal
*****************************************************************************/-->

<Configuration>
	
	<!--Simulation Parameters-->
	<Simulation>
	    <MaxNumJavaThreads>8</MaxNumJavaThreads>		<!--Maximum number of Runnable Threads on simulator side-->
	    <MaxNumBlocksPerJavaThread>5000</MaxNumBlocksPerJavaThread>
	    <GPUType>Kepler</GPUType> 						<!--Type of Nvidia GPU: Tesla, Fermi,Kepler,Maxwell-->
		<ThreadsPerCTA>512</ThreadsPerCTA>
	</Simulation>

	<!--System Parameters-->
	<System>
		<NoOfTPC>8</NoOfTPC>				<!--Number of texture processor clusters in the system-->
		<GlobalClock>
		<LeakageEnergy>0.0598</LeakageEnergy>
		<DynamicEnergy>0.0347</DynamicEnergy>
		</GlobalClock>
		
		<!--Texture Processor Cluster(TPC) parameters-->
		<TPC>
			<NoOfSM>1</NoOfSM> 				<!--Number of streaming multiprocessors in a TPC-->
			
		<!--Streaming multiprocessor(SM) Parameters-->
			<SM>
				<Frequency>3600</Frequency>		<!--Operating frequency of the core (in MHz)-->
				<NoOfWarpSchedulers>2</NoOfWarpSchedulers>
				<NoOfSP>8</NoOfSP> 				<!--Number of streaming processors in a SM-->
				<WarpSize>32</WarpSize>			<!--Number of threads in a warp-->
				
				<TreeBarrier>false</TreeBarrier>			<!--Only for particular purposes. Otherwise keep it as false-->
				<BarrierLatency>2</BarrierLatency>
				<BarrierUnit>Distributed</BarrierUnit>			<!--Central and distributed-->
				
		<!--Streaming processor(SP) Parameters-->
				<SP>
					<NoOfThreadsSupported>32</NoOfThreadsSupported>
				</SP>	
				
				<Cache>
				<iCache nextLevel="L2" firstlevel = "true" type="iCache" />
				<constantCache nextLevel="L2" firstlevel = "true" type="constantCache" />
				<sharedCache nextLevel="L2" type="sharedCache" />
				<!--L1Cache nextLevel="L2" type="dCache" /-->
				</Cache>

				<Decode>								<!--Instruction decode-->
				<LeakageEnergy>0.0598</LeakageEnergy>
				<DynamicEnergy>0.0347</DynamicEnergy>
				</Decode>
				
				<ResultsBroadcastBus>						
				<LeakageEnergy>0.0598</LeakageEnergy>
				<DynamicEnergy>0.0347</DynamicEnergy>
				</ResultsBroadcastBus>
				
				<RegisterFile>
					<Bank>
						<BankSize>40</BankSize>
						<LeakageEnergy>0.0598</LeakageEnergy>
						<DynamicEnergy>0.0347</DynamicEnergy>
					</Bank>
					<Collector>
						<CollectorSize>20</CollectorSize>
						<LeakageEnergy>0.0598</LeakageEnergy>
						<DynamicEnergy>0.0347</DynamicEnergy>
					</Collector>
					<Dispatch>
						<DispatchSize>1</DispatchSize>
						<LeakageEnergy>0.0598</LeakageEnergy>
						<DynamicEnergy>0.0347</DynamicEnergy>
					</Dispatch>
					<Alloc>
						<LeakageEnergy>0.0598</LeakageEnergy>
						<DynamicEnergy>0.0347</DynamicEnergy>
					</Alloc>
					<Scoreboard>
						<LeakageEnergy>0.0598</LeakageEnergy>
						<DynamicEnergy>0.0347</DynamicEnergy>
					</Scoreboard>
					<Arbiter>
						<LeakageEnergy>0.0598</LeakageEnergy>
						<DynamicEnergy>0.0347</DynamicEnergy>
					</Arbiter>
					
				</RegisterFile>	
		</SM>
			
			
		</TPC>
		<SharedCaches>
				<Cache name="L2" nextLevel="" type="L2" />	
		</SharedCaches>
		<MainMemory>
			<MemControllerToUse>true</MemControllerToUse> 
			<MainMemoryLatency>200</MainMemoryLatency>		
			<MainMemoryFrequency>3600</MainMemoryFrequency>		
			<MainMemoryPortType>FCFS</MainMemoryPortType>		
			<MainMemoryAccessPorts>10</MainMemoryAccessPorts>	
			<MainMemoryPortOccupancy>1</MainMemoryPortOccupancy>
			<LeakageEnergy>0.1877</LeakageEnergy>
			<DynamicEnergy>2.1164</DynamicEnergy>	
		</MainMemory>
		
		<CacheBusLatency>1</CacheBusLatency>
		<Interconnect>BUS</Interconnect>
		
		<NOC>
			<NocConfigFile>/home/janib/Desktop/gpu_with_l2/Tejas-cuda/final_gpu_tejas/gputejas/src/simulator/config/NocConfig8.txt</NocConfigFile>
			<NocSelScheme>STATIC</NocSelScheme>
			<NocNumberOfBuffers>4</NocNumberOfBuffers>
			<NocPortType>FCFS</NocPortType>
			<NocAccessPorts>4</NocAccessPorts>
			<NocPortOccupancy>1</NocPortOccupancy>
			<NocLatency>1</NocLatency>
			<NocOperatingFreq>2000</NocOperatingFreq>
			<NocTopology>TORUS</NocTopology>     
			<NocRoutingAlgorithm>SIMPLE</NocRoutingAlgorithm>
			<NocLatencyBetweenNOCElements>4</NocLatencyBetweenNOCElements>
			<NocRouterArbiter>RR_ARBITER</NocRouterArbiter>
			<TechPoint>90</TechPoint>
			<NocConnection>ELECTRICAL</NocConnection>
			<LeakageEnergy>0.1877</LeakageEnergy>
			<DynamicEnergy>2.1164</DynamicEnergy>
		</NOC>
		
		<Laser>
			<noctype>gpushare</noctype>    <!-- gpushare,gpuatac,swmr,probe-->
			<interval>1000</interval>
			<threshold>5</threshold>
			<maxpower>16</maxpower>
		</Laser>
			
		<BUS>
			<Latency>30</Latency>
			<LeakageEnergy>0.1877</LeakageEnergy>
			<DynamicEnergy>2.1164</DynamicEnergy>
		</BUS>
		<MainMemoryController>               <!-- These values are used when controller specified above is DRAM (not SIMPLE) -->
			<rowBufferPolicy>OpenPage</rowBufferPolicy>		<!-- OpenPage or ClosePage -->
			<schedulingPolicy>RankThenBankRoundRobin</schedulingPolicy>	<!-- RankThenBankRoundRobin or BankThenRankRoundRobin-->
			<queuingStructure>PerRankPerBank</queuingStructure>	<!-- PerRank or PerRankPerBank -->
			<numRankPorts>100</numRankPorts>
			<rankPortType>FCFS</rankPortType>	<!--Type of access ports in the MainMemoryController (UL : Unlimited; FCFS : First Come First Serve; PR : Priority port)-->
			<rankOccupancy>1</rankOccupancy>
			<rankLatency>100</rankLatency>
			<rankOperatingFrequency>3600</rankOperatingFrequency>
			<numChans>2</numChans>      <!-- Number of physical channels = number of memory controllers -->
			<numRanks>1</numRanks>      <!-- Number of Ranks per memory controller-->
			<numBanks>8</numBanks>      <!-- Number of Banks per Rank -->
			<numRows>16384</numRows>      <!-- Number of Rows per Bank -->
			<numCols>2048</numCols>      <!-- Number of Columns per Bank -->
			<TRANSQUEUE_DEPTH>32</TRANSQUEUE_DEPTH>      <!-- Depth of transaction queue. Note: currently this is not used -->
			<TOTAL_ROW_ACCESSES>4</TOTAL_ROW_ACCESSES>      <!-- For Open Page policy: Number of continuous row accesses after which the row would be closed. This is to prevent starvation to other rows. -->

			<!-- Timing parameters follow below -->
			<!-- Currently set according to DDR3 Micron 32M 8B x4 speed grade: 125 -->
			<!-- Timing parameters for other devices can be found in DRAMSim2 repository in GitHub. Check folder "ini" for device specific timing parameters. Or same can be obtained from Datasheets for Micron DDR parts -->

			<tCCD>4</tCCD>      <!-- Column-to-Column Delay: internal burst (prefetch) length. DDR: 1, DDR2: 2, DDR2: 4-->
			<tBL>8</tBL>      <!-- Data burst duration i.e. number of bytes returned for each request (burst). Specified in beats not cycles. DDR3: 8 beats -->
			<tCL>11</tCL>      <!-- Column Access Strobe latency. Cycles between column access command and start of data return by the DRAM device -->
			<tAL>0</tAL>      <!-- Latency added to column accesses. Used for posted CAS commands. -->
			<tRP>11</tRP>      <!-- Row Precharge. Time that it takes for the array to precharge (in cycles) -->
			<tCMD>1</tCMD>      <!-- Command transport duration. The num of cycles a command occupies on the command bus from controller to DRAM device (Ranks) -->
			<tRC>39</tRC>      <!-- Row Cycle. Cycles between accesses to different rows in a bank. tRC = tRAS + tRP -->
			<tRCD>11</tRCD>      <!-- Row to Column command delay. Cycles between row access and date readt at sense amplifiers -->
			<tRAS>28</tRAS>      <!-- Row Access Strobe. Cycles between row access command and data restoration in the DRAM array. DRAM bank cannot be precharged until at least tRAS cycles after previous bank activation -->
			<tRFC>88</tRFC>      <!-- Refresh Cycle time. Cycles it takes to refresh the array. -->
			<tRTRS>1</tRTRS>      <!-- Rank to Rank switching time. Cycles required to switch from 1 rank to another rank -->
			<tRRD>5</tRRD>      <!-- Row activation to Row activation delay. Minimum cycles between two row activation commands to the same DRAM device. Limits peak current profile. -->
			<tFAW>24</tFAW>      <!-- Four (row) bank Activation Window. A rolling time-frame in which a maximum of four-bank activation can be engaged. Limits peak current profile. -->
			<tRTP>6</tRTP>      <!-- Rank to Precharge. Cycles between a read and a precharge command. -->
			<tWTR>6</tWTR>      <!-- Write to Read delay time.The minimum time interval -->
			<tWR>12</tWR>      <!-- Write Recovery Time. The minimum cycles between end of a write data burst and the start of a precharge command. Allows sense amplifiers to restore data to cells. -->
			<tCK>1.25</tCK>      <!-- Clock cycle period in ns -->
			<RefreshPeriod>7800</RefreshPeriod>      <!-- Time (in ns) after which a Refresh is issued -->
			<DATA_BUS_BITS>64</DATA_BUS_BITS>      <!-- Width of DATA bus in bits. 64 bits according to JEDEC standard -->
		</MainMemoryController>
	</System>
	
	<Library>
		<iCache>
			<WriteMode>WT</WriteMode>			
			<LastLevel>N</LastLevel>			
			<BlockSize>32</BlockSize>			
			<Associativity>4</Associativity>
			<Size>4</Size>					
			<Latency>1</Latency>				
			<PortType>UL</PortType>				
			<AccessPorts>1</AccessPorts>			
			<PortOccupancy>1</PortOccupancy>		
			<MultiPortingType>B</MultiPortingType>		
			<Coherence>N</Coherence>			
			<NumBuses>1</NumBuses>			
			<MSHRSize>32</MSHRSize>
			<BusOccupancy>0</BusOccupancy>
			<Nuca>NONE</Nuca>	
		    <NucaMapping>S</NucaMapping>					
			<LeakagePower>0.1092</LeakagePower>
			<ReadDynamicPower>0.33964264705</ReadDynamicPower>
			<WriteDynamicPower>0.33964264705</WriteDynamicPower>
		</iCache>
		<constantCache>
			<WriteMode>WT</WriteMode>			
			<LastLevel>N</LastLevel>			
			<BlockSize>64</BlockSize>			
			<Associativity>2</Associativity>
			<Size>8</Size>					
			<Latency>1</Latency>				
			<PortType>UL</PortType>				
			<AccessPorts>1</AccessPorts>			
			<PortOccupancy>1</PortOccupancy>		
			<MultiPortingType>B</MultiPortingType>		
			<Coherence>N</Coherence>			
			<NumBuses>1</NumBuses>			
			<MSHRSize>32</MSHRSize>
			<BusOccupancy>0</BusOccupancy>
			<Nuca>NONE</Nuca>	
			<NucaMapping>S</NucaMapping>					
			<LeakagePower>0.1092</LeakagePower>
			<ReadDynamicPower>0.33964264705</ReadDynamicPower>
			<WriteDynamicPower>0.33964264705</WriteDynamicPower>
		</constantCache>
		<sharedCache>
			<WriteMode>WB</WriteMode>			
			<LastLevel>N</LastLevel>			
			<BlockSize>64</BlockSize>			
			<Associativity>8</Associativity>
			<Size>32</Size>					
			<Latency>2</Latency>				
			<PortType>UL</PortType>				
			<AccessPorts>1</AccessPorts>			
			<PortOccupancy>1</PortOccupancy>		
			<MultiPortingType>B</MultiPortingType>		
			<Coherence>N</Coherence>			
			<NumBuses>1</NumBuses>			
			<MSHRSize>32</MSHRSize>
			<BusOccupancy>0</BusOccupancy>
			<Nuca>NONE</Nuca>	
			<NucaMapping>S</NucaMapping>					
			<LeakagePower>0.1092</LeakagePower>
			<ReadDynamicPower>0.33964264705</ReadDynamicPower>
			<WriteDynamicPower>0.33964264705</WriteDynamicPower>
		</sharedCache>
		<dCache>
			<WriteMode>WB</WriteMode>			
			<LastLevel>Y</LastLevel>			
			<BlockSize>1024</BlockSize>			
			<Associativity>1</Associativity>
			<Size>1024</Size>					
			<Latency>2</Latency>				
			<PortType>FCFS</PortType>				
			<AccessPorts>1</AccessPorts>			
			<PortOccupancy>2</PortOccupancy>		
			<MultiPortingType>B</MultiPortingType>		
			<Coherence>N</Coherence>			
			<NumBuses>1</NumBuses>			
			<MSHRSize>32</MSHRSize>
			<BusOccupancy>0</BusOccupancy>
			<Nuca>NONE</Nuca>	
			<NucaMapping>S</NucaMapping>					
			<LeakagePower>0.1092</LeakagePower>
			<ReadDynamicPower>0.33964264705</ReadDynamicPower>
			<WriteDynamicPower>0.33964264705</WriteDynamicPower>
		</dCache>
		<L2>
			<WriteMode>WT</WriteMode>			
			<LastLevel>Y</LastLevel>			
			<BlockSize>64</BlockSize>			
			<Associativity>16</Associativity>
			<Size>8192</Size>				
			<Latency>45</Latency>				
			<PortType>UL</PortType>				
			<AccessPorts>2</AccessPorts>			
			<PortOccupancy>2</PortOccupancy>		
			<MultiPortingType>B</MultiPortingType>		
			<Coherence>N</Coherence>			
			<NumBuses>1</NumBuses>				
			<MSHRSize>8</MSHRSize>
			<BusOccupancy>0</BusOccupancy>
			<Nuca>S_NUCA</Nuca>	
			<NucaMapping>S</NucaMapping>					
			<LeakagePower>0.65904632352</LeakagePower>
			<ReadDynamicPower>0.81449264705</ReadDynamicPower>
			<WriteDynamicPower>0.81449264705</WriteDynamicPower>
		</L2>
		
		
	</Library>
		
	<OperationLatency>
			<load>100</load>
			<store>1</store>
			<address>1</address>
			<intALU>1</intALU>
			<intMUL>2</intMUL>
			<intDIV>4</intDIV>
			<floatALU>1</floatALU>
			<floatMUL>4</floatMUL>
			<floatDIV>8</floatDIV>
			<predicate>1</predicate>
			<branch>1</branch>
			<call>1</call>
			<return>1</return>
			<exit>1</exit>
	</OperationLatency>
	
	<OperationEnergy>
			<load>0.001</load>
			<store>0.001</store>
			<address>0.001</address>
			<intALU>0.001</intALU>
			<intMUL>0.001</intMUL>
			<intDIV>0.001</intDIV>
			<floatALU>0.001</floatALU>
			<floatMUL>0.001</floatMUL>
			<floatDIV>0.001</floatDIV>
			<predicate>0.001</predicate>
			<branch>0.001</branch>
			<call>0.001</call>
			<return>0.001</return>
			<exit>0.001</exit>
	</OperationEnergy>
</Configuration>
